<h1>Listing all tasks</h1>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% @tasks.each do |task| %>
      <%= task.name %>
          <h3>
            <%= link_to task_path(task) do %> <%= task.name %> <% end %>
          </h3>
      <% end %>
          <p>
          <%= link_to "creer une tach",
            new_task_path, {class: "btn btn-danger fa fa-glass"} %>
          </p>
    </div>
  </div>
</div>
